.contact-us {
    padding: 20px;
    text-align: left;
}

    .contact-us form {
        display: flex;
        flex-direction: column;
    }

    .contact-us input, .contact-us textarea {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .contact-us button {
        background-color: #555;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
    }
