.section-selector {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Rounded corners for a softer look */
}

    .section-selector button {
        margin: 0 8px; /* Reduced margin for a more compact look */
        padding: 10px 20px;
        background-color: white; /* Neutral color */
        color: grey;
        border: solid;
        border-block-color: lightgrey;
        border-color: lightslategray;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        cursor: pointer;
        font-size: 10px;
        transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
    }

        .section-selector button:hover {
            background-color: seagreen;
            transform: translateY(-2px); /* Subtle lift effect on hover */
        }

        .section-selector button:active {
            background-color: #4d4d4d; /* Slightly darker color when clicked */
            transform: translateY(0); /* Reset lift effect on click */
        }
